[BOMBROWSER]

# select db source
#db=sqlite
db=sqlserver
#db=postgresql

# force uppercase for code and description
description_force_uppercase=1
code_force_uppercase=1

templates_list=template_simple,template_all,template_dummy
importer_list=import_simple,importer_all

# the name of gvalN (n=1..8) fields separated by comma
# it is allowed to have less than 8 fields
gvalnames=Supplier#1 PN,Supplier#1 name,Manufacturer#1 PN,Manufacturer#1 name,Manufacturer#2 PN,Manufacturer#2 name
genericnames=

[SQLITE]
path=database.sqlite

[SQLSERVER]
conn = DRIVER=ODBC Driver 17 for SQL Server;SERVER=tcp:127.0.0.1;DATABASE=bombrowser;UID=bombrowserUser;PWD=bombrowserPassword1.

[POSTGRESQL]
server   = 127.0.0.1
database = bombrowser
username = bombrowser
password = bombrowser1


# this appears in the menu as "copy" or as "export as csv"
[template_simple]
# available columns type
# seq -> sequential number AFTER the sorting
# level -> level of identation
# code -> code
# indented_code code indented (prefixe by "... ... " depending by the level )
# descr -> code description
# qty -> code quantity
# unit -> unit
# each -> each
# ref -> ref
# paren -> parent_code
# drawings -> drawings path
# gval1, glval20 -> generic fields
# rev -> code revision
# iter -> code iteration
# date_from -> from date
# date_to -> date_to
name=Simple table
columns=seq,level,code,indented_code,descr,qty,each,unit,ref,rev,iter,date_from,date_to
captions=Seq,Level,Code,Code.Ind,Description,Q.ty,Each,Unit,Reference,Rev,Iter,From date,To date

# Options:

# Sort the output one the base of the column (-1 = no sort)
#sortby=-1

# Remove duplicated row (e.g if an assy is reported more than once)
#unique=1

# Separator style: TAB|EXECL
#     TAB     -> the fields are separated by tab
#     EXCEL   -> the fields are separated by ';', and each field is protect
#                by '"'
mode=TAB

# maximum bom depth (defautl all, 1-> only top node, 2->first level of children
# maxlevel=-1


[template_all]
name=Full table
#sortby=2
columns=seq,level,parent,parent_descr,"-",code,indented_code,descr,qty,each,unit,ref,rev,iter,date_from,date_to,gval1,gval2,gval3,gval4,gval5,gval6
captions=Seq,Level,Parent code,Parent description,-,Code,Code,Description,Q.ty,Each,Unit,Reference,Rev,Iter,From date,To date,Supplier#1 PN,Supplier#1 name,Manufacturer#1 PN,Manufacturer#1 name,Manufacturer#2 PN,Manufacturer#2 name
#unique

[template_dummy]
name=Dummy table
sortby=2
columns=seq,parent,code,descr,qty,each,unit,ref,rev,iter,date_from,date_to
captions=Seq,Parent code,Code,Description,Q.ty,Each,Unit,Reference,Rev,Iter,From date,To date
#unique

[import_simple]
name=Simple importer

# parent_child or json
type=parent_child

#map the columns in the file to the internal fields
map=code=CodeNr,ref=DesignatorText,qty=QuantityNr
# kind of separator (SEMICOLON, TAB, COMMA, COLON)
separator=SEMICOLON
# options: default_unit, skip_first_lines, ignore_duplicate, ignore quote,
#          ignore_bom (as UTF8 marker),
options=default_unit=NR,skip_first_lines=1
#Skip the first lines before parsing
#skip_first_lines=<nn>



[importer_all]
name=Importer all
type=parent_child
# Seq	Level	Parent code	Parent descritpion	-	Code	Code2	Description	Q.ty	Each	Unit	Reference	Rev	Iter	From date	To date	Supplier#1 PN	Supplier#1 name	Manufacturer#1 PN	Manufacturer#1 name	Manufacturer#2 PN	Manufacturer#2 name
map=parent_code=Parent code,parent_descr=Parent descritpion,code=Code,descr=Description,qty=Q.ty,each=Each,unit=Unit,ref=Reference,gval1=Supplier#1 PN,gval2=Supplier#1 name,gval3=Manufacturer#1 PN,gval4=Manufacturer#1 name,gval5=Manufacturer#2 PN,gval6=Manufacturer#2 name
separator=TAB
options=default_unit=NR,ignore_duplicate=1
